<div class="container">
    <h1>Dashboard</h1>
  
    <div class="controls">
      <h2>Controls</h2>
      <button class="btn btn-info" (click)="turnOnLed()">Turn On LED</button>
      <button class="btn btn-info" (click)="turnOffLed()">Turn Off LED</button>

    </div>
  
    <div class="export">
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Sensor Name</th>
          <th>Date</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sensor 1</td>
          <td>2022-01-01</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Sensor 2</td>
          <td>2022-01-02</td>
          <td>200</td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  